.container {
  text-align: center;
  padding: 20px;
  background: #f8fafc;
  height: 100vh;
}

h2 {
  color: #1e3a8a;
}

.alert {
  background-color: #fee2e2;
  color: #b91c1c;
  padding: 10px;
  margin: 10px auto;
  width: 50%;
  border-radius: 8px;
  font-weight: bold;
}

.note {
  margin-top: 10px;
  font-size: 14px;
  color: #475569;
}
.predictionBox {
  background: #e0f7e9;
  padding: 12px;
  width: 250px;
  margin: 15px auto;
  border-radius: 10px;
  box-shadow: 0 2px 5px #d1d5db;
}
